# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .gitEmail }}
[core]
	excludesfile = ~/.gitignore_global
[alias]
	head = show --oneline -s HEAD
	oneline = log --pretty='%C(cyan)%ad %C(yellow)%h %C(cyan)%d %Creset%s %C(red)%aN' --date-order --graph --date=short
	uncommit = reset HEAD~1
	unstage = reset HEAD --
	hs = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date=relative --date-order
